<p id="notice"><%= notice %></p>

<h1>Voice Part</h1>

<div class="text-center">
  <p>
    <b>Name:</b>
    <%= @voice_part.name %>
  </p>

  <p>
    <b>Max:</b>
    <%= @voice_part.max %>
  </p>


  <%= link_to 'Edit', edit_voice_part_path(@voice_part) %> |
  <%= link_to 'Back', voice_parts_path %>

</div>
