<!DOCTYPE html>
<html>
<head>
  <title>Hw5app</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Choir Attendance</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><%= link_to "Voice Parts", :voice_parts %></li>
          <li><%= link_to "Singers", :singers %></li>
          <li><%= link_to "Conflicts", :conflicts %></li>
          <% if user_signed_in? %>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <% if alert %>
      <div class="alert alert-error">
        <%= alert %>
      </div>
  <% end %>
  <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
